header {
    width: auto;
    height: 300px;
    background-color: #ff6c15;
    background-image: url(content/halftone.png);
    background-position: bottom;
}

@font-face {
    font-family: Indivisible;
    src: url("content/font.woff2") format("woff2");
  }  

body {
    margin: 0px;
}

#logo {
    margin-top: 19px;
}

h1 {
    font-family: "Indivisible";
    font-size: 90px;
    color:#d93918;
}



pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

